<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="txtp" placeholder="Enter P" />
        <br/>
        <input type="text" name="txtr" placeholder="Enter R" />
        <br/>
        <input type="text" name="txtt" placeholder="Enter T" />
        <br/>
        <input type="submit" name="btnsubmit" value="Calculate" />
    </form>
    {{key}}
</body>
</html>