*
{
    margin: 0px;
}
header{
    height: 100px;
    background-color: blueviolet;
}
.logo
{
    float:left;
    width: 39%;
    margin-top:5px;
    margin-left: 5px;;
    
    
}
.menu
{
    float:right;
    width:60%;
    
}
header ul li{
    display: inline-block;
    margin-left: 20px;

}
header ul li a{
    color:#EEAF21;
}

section
{
    
    background-color: cadetblue;
}


footer{
    height: 200px;
    background-color: #EEAF21;

}

