<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <p>Enter number</p>
        <p><input type="text" placeholder="Enter number" name="txtnum" value={{data1}} /></p>
        <input type="submit" value="square" name="btnsquare" />
        <br/> <br/>
        <input type="submit" value="cube" name="btncube" />
    </form>
    {{key}}
</body>
</html>