<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Table Program</h1>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" placeholder="Enter number" name="txtnum" />
        <br/>
        <input type="submit" name="btnsubmit1" value="Forward Table" />
        <input type="submit" name="btnsubmit2" value="Backward Table" />
    </form>
    {% for data in key %}
     <p>{{data}}</p>

    {% endfor %}


</body>
</html>